# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

.mypy_cache/

.ruff_cache/

cat_tokens/
tokens/

front/front/.angular
front/front/node_modules


test.ipynb

data/

*.code-workspace

back/src/dump_data/
*.pkl
front/.angular
front/node_modules
front/
