.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this if necessary */
}

.centered-image {
  display: block;
  margin: 0 auto;
  // transition: opacity 1s ease; /* Adjust the transition duration to 1 second */
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.change-button {
  margin: 0 5px; /* Adjust this for spacing between buttons */
  width: 150px; /* Adjust this for the desired width of the buttons */
  padding: 10px; /* Adjust this for button padding */
}

.vu-par-ia {
  background-color: rgba(lightgreen, 0.4);
  color: darkgreen;
}

.non-vu-par-ia{
  background-color: rgba(pink, 0.4);
  color: darkred;
}
