
<div class="form-container">
  <div class="centered-text">
    <h1>Quel est le résultat de: {{ questionInterferente }}</h1>
  </div>
  <form [formGroup]="questionForm" (ngSubmit)="submitForm()">
    <div class="question-container">
      <label for="answer" class="question-label"></label>
      <input
        #inputField
        type="text"
        id="answer"
        formControlName="answer"
        (keyup.enter)="onEnter()"
        (blur)="onBlur()"
        autocomplete="nope"
        appSetFocus
      />
      <div *ngIf="questionForm.get('answer')!.hasError('notAnInteger')">
        La réponse est un nombre entier !
      </div>
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="questionForm.invalid">Envoyer la réponse</button>
    </div>
  </form>
</div>


<!-- <div>
  <p>This is the second page!</p>
  <button (click)="goBackExperiment()">Go Back</button>
</div> -->
