.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.centered-text {
  margin-bottom: 20vh; /* Adjust as needed */
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-label {
  font-size: 1.5em; /* Adjust the font size as needed */
}

.button-container {
  margin-top: 10px;
}

.bad-result {
  margin-top: 20vh; /* Adjust as needed */
  font-size: 1.4em;
  color: brown;
}
