<h1>Première étape</h1>

<p>
Vous effectuez maintenant la première étape.<br />

<br />

Un certain nombre de visages vous seront présentés un par un. A chaque visage,
vous devez répondre à l'aide d'une échelle sur 6 points si vous avez déjà vu le
visage auparavant ainsi que le niveau de confiance associé à cette réponse.
Après chaque réponse, vous devrez résoudre une petit calcul mental. <br />

<br />

Si vous êtes prêt à commencer, cliquez sur le bouton "OK j'ai compris". <br />

<br />

<button (click)="sendToExperiment()">OK j'ai compris</button>

</p>
