<h1>Troisième étape</h1>

<P>

Pour cette dernière étape, vous devrez effectuer exactement la même
chose sauf que vous recevrez de l'aide d'un algorithme qui vous indiquera si un
visage a déjà été vu (ce visage sera entouré de vert), ou non (entouré de
rouge). L'algorithme de cette étape est différent de celui de l'étape précédente.
<br />
<br />


Si vous êtes prêt à commencer, cliquez sur le bouton "OK j'ai compris". <br />

<br />


<button (click)="sendToExperiment()">OK j'ai compris</button>

</P>
