<p>form-beginning works!</p>

<!-- <form action="process_form.php" method="POST">
  <label for="age">Quel âge avez-vous ? :</label>
  <input type="number" id="name" name="name" required /><br /><br />

  <label for="genre">Quel est votre genre ? :</label>
  <select id="subject" name="subject" required>
    <option value="féminin">féminin</option>
    <option value="masculin">masculin</option>
    <option value="autre">autre</option>
    <option value="je ne veux pas préciser">
      je ne veux pas préciser
    </option></select
  ><br /><br />

  <label for="CSP"
    >Dans quelle catégorie socio-professionnelle êtes vous? :</label
  >
  <select id="subject" name="subject" required>
    <option value="agriculteur exploitant">agriculteur exploitant</option>
    <option value="commerçant, artisan ou chef d'entreprise">
      commerçant, artisan ou chef d'entreprise
    </option>
    <option value="cadre ou profession intellectuelle supérieure">
      cadre ou profession intellectuelle supérieure
    </option>
    <option value="profession intermédiaire">profession intermédiaire</option>
    <option value="employé ou ouvrier">employé ou ouvrier</option>
    <option value="étudiant">étudiant</option></select
  ><br /><br />
</form> -->

<button (click)="sendToInfoFirstTask()">OK</button>
