<h1>Questionnaire post-expérimental</h1>

<form [formGroup]="form" (ngSubmit)="finishExperiment()">
  <label><b>Avez-vous perçu une différence entre les 2 algorithmes ?</b></label>
  <br />
  <label>
    <input type="radio" formControlName="question1" value="yes" />
    Oui </label
  ><br />
  <label>
    <input type="radio" formControlName="question1" value="no" />
    Non </label
  ><br />
  <br /><br />

  <label><b>Quel algorithme vous inspirait le plus confiance ?</b></label>
  <br />
  <label>
    <input type="radio" formControlName="question2" value="premier" /> Le
    premier
  </label>
  <br />
  <label>
    <input type="radio" formControlName="question2" value="deuxieme" /> Le
    deuxième
  </label>
  <br />
  <label>
    <input type="radio" formControlName="question2" value="meme_manier" /> Pas
    de différence
  </label>
  <br />
  <br /><br />

  <label>
    <b
      >Pensez-vous que vos performances se sont améliorées grâce à l'un de ces
      algorithmes ?
    </b> </label
  ><br />
  <label
    ><input type="radio" formControlName="question3" value="oui" /> Oui</label
  ><br />
  <label
    ><input type="radio" formControlName="question3" value="non" /> Non</label
  ><br />
  <br /><br />

  <input type="submit" value="Terminer l'expérience" />
</form>
